.container {
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.user-fullname { 
    font-weight: bold;
    font-size: 15px;
    
}

.media-heading { font-weight: bold; }

.media { position: relative; }

.media-body { padding-left: 10px; }

.media-date { position: absolute; bottom: 0; }

.small-image {
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.user-info ul {
    margin-left: 15px;
    padding: 0;
    list-style-type: none;
}
